<ion-content>
    <div class="login-container">
      <div class="login-card">

      <h2 class="app-title">📚 BookSwap</h2>

      <h1>Iniciar sesión</h1>

        <ion-input
          [(ngModel)]="email"
          type="email"
          placeholder="Correo electrónico"
          legacy
          fill="outline"
          class="isolated-input"
        ></ion-input>

        <ion-input
          [(ngModel)]="password"
          type="password"
          placeholder="Contraseña"
          legacy
          fill="outline"
          class="isolated-input"
        ></ion-input>

      <ion-button expand="block" (click)="login()">ENTRAR</ion-button>

      <div class="register-link">
        ¿No tienes cuenta?
        <a (click)="goToRegister()">Regístrate</a>
      </div>

      <div class="forgot-link">
        <a (click)="goToForgotPassword()">¿Olvidaste tu contraseña?</a>
      </div>
      </div>
    </div>
</ion-content>
