<ion-content>
  <div class="register-container">
    <div class="register-card">

      <h2 class="welcome-title">Bienvenido a <span>BookSwap</span></h2>
      <p class="welcome-subtitle">Comparte tus libros, descubre nuevas historias 📚</p>

      <h1>Registrarse</h1>

      <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
        
        <ion-input
          class="custom-input"
          type="text"
          [(ngModel)]="user.name"
          name="name"
          placeholder="Nombre completo"
          fill="outline"
          label="Nombre completo"
          label-placement="floating"
          required
        ></ion-input>

        <ion-input
          class="custom-input"
          type="email"
          [(ngModel)]="user.email"
          name="email"
          placeholder="Correo electrónico"
          fill="outline"
          label="Correo electrónico"
          label-placement="floating"
          required
        ></ion-input>

        <ion-input
          class="custom-input"
          type="password"
          [(ngModel)]="user.password"
          name="password"
          placeholder="Contraseña"
          fill="outline"
          label="Contraseña"
          label-placement="floating"
          required
        ></ion-input>

        <ion-input
          class="custom-input"
          type="password"
          [(ngModel)]="user.confirmPassword"
          name="confirmPassword"
          placeholder="Confirmar contraseña"
          fill="outline"
          label="Confirmar contraseña"
          label-placement="floating"
          required
        ></ion-input>

        <ion-button expand="block" (click)="register(registerForm)">
          REGISTRARSE
        </ion-button>

        <p class="login-text">
          ¿Ya tienes cuenta?
          <a (click)="goToLogin()">Inicia sesión</a>
        </p>
      </form>
    </div>
  </div>
</ion-content>