.forgot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(to bottom, #1a1a1a, #222);
}

.forgot-card {
    background-color: #0f0f0f;
    padding: 40px 30px;
    border-radius: 16px;
    width: 100%;
    max-width: 420px;
    color: #fff;
    text-align: center;
}

h2 {
    color: #7b5fd0;
    margin-bottom: 10px;
}

p {
    font-size: 0.9rem;
    color: #ccc;
    margin-bottom: 25px;
}

ion-item {
    --background: #1c1c1c;
    --border-radius: 10px;
    margin-bottom: 20px;
}

ion-button {
    --background: #7b5fd0;
    font-weight: bold;
}

.back-link {
    display: block;
    margin-top: 20px;
    color: #7b5fd0;
    cursor: pointer;
    text-decoration: none;
}
