<ion-content>
  <div class="forgot-container">
    <div class="forgot-card">
      <h2>Recuperar contraseña</h2>
      <p>Ingresa tu correo para recibir un enlace de restablecimiento.</p>

      <ion-input
        class="custom-input"
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Correo electrónico"
        fill="outline"
        label="Correo electrónico"
        label-placement="floating"
        required
      ></ion-input>

      <ion-button expand="block">ENVIAR ENLACE</ion-button>

      <a (click)="volverLogin()" class="back-link">Volver al inicio de sesión</a>
    </div>
  </div>
</ion-content>
